.text-blue-darken-3[data-v-a13fb483]{color:#0d47a1!important}.custom-subtitle[data-v-a13fb483]{white-space:normal!important;display:block!important;overflow:visible!important;line-height:1.4;padding-top:4px}
